body {
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #377FC5;
}

/*clase universal para boxsizing*/
*{
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
}

nav {
	background-color: #2C6FA9;
}

li {
	display: inline;
	color: #fff;
	padding: 1em;
}

h1 {
	margin: 0%;
	height: 60px;
	font-family: jaf-facitweb;
	color: #265773;
}

h2 {
	margin: 0%;
	color: #fff;
}